
/* Token colors (VSCode inspired) */
.tok-bracket { color: #FFD700; font-weight: 600; } /* gold */

/* Strings */
.tok-string { color: #CE9178; }

.tok-string-error { background-color: #511; color: #f99; }

/* Numbers */
.tok-number { color: #B5CEA8; }

/* Identifiers */
.tok-identifier { color: #9CDCFE; }

/* Keywords */
.tok-keyword { color: #569CD6; font-weight: 600; }

/* Control flow */
.tok-control { color: #C586C0; font-weight: 600; }

/* Boolean / null */
.tok-boolean { color: #4EC9B0; font-weight: 600; }

/* Function-like */
.tok-function { color: #DCDCAA; font-weight: 600; }

/* Types */
.tok-type { color: #4FC1FF; font-weight: 600; }

/* Operators */
.tok-operator { color: #D4D4D4; }
/* WhiteSpace */
.tok-whitespace { white-space: pre; }

.tok-comment {
  color: #6a9955; /* VSCode-style green */
  font-style: italic;
  white-space: pre-wrap;
}
.tok-block-comment-error { background-color: #511; color: #f99;}
/* Default */
.tok-default { color: #D4D4D4; }